torch>=2.3; sys_platform!="darwin" or platform_machine!="arm64"
torchvision>=0.18
torchaudio>=2.3
# tensorflow>=2.16; python_version>="3.10" ; extra == "tf-option"  # deixe comentado se optar só por PyTorch
scikit-learn>=1.5
opencv-python>=4.10
matplotlib>=3.9
seaborn>=0.13
pandas>=2.2
pillow>=10.4
albumentations>=1.4
grad-cam>=1.5
Flask>=3.0
pyyaml>=6.0
